:root {
  --bg: #f8f8f8;
  --text: #1f1f1f;
  --card: #ffffff;
  --radius: 14px;
  --shadow: 0 8px 24px rgba(0,0,0,.08);
  --price-weight: 700;

  /* 🔥 NUEVO */
  --primary: #111111;     /* botón principal */
  --secondary: #eaeaea;   /* botón secundario */
  --button-text: #ffffff;
}
